<div class="col-md-10 mx-auto mt-4">
    <card class="card">
        <div class="card-header">
            <h3 class="text-center">Valoración</h3>
        </div>
        <div class="card-body">
            <div>
                <p class="text-center">
                    <span style="margin-right: 10px;">Fecha de Recolección de Datos: {{valoration.date}}</span> Hora: {{valoration.time}}
                </p>
            </div>
            <div class="card mb-3">
                <div class="card-header">I- Datos personales del Paciente</div>
                <div class="card-body">
                    <!-- Campos de Datos del Paciente -->
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Apellido:</label>
                        <input type="text" name="apellido" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.apellido}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Nombre:</label>
                        <input type="text" name="nombre" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.nombre}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">DNI:</label>
                        <input type="text" name="dni" class="form-control w-auto border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.dni}}" disabled>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Fecha de Nacimiento:</label>
                        <input type="text" name="fechaNacimiento" class="form-control border-1 bg-transparent"
                            placeholder="-" value="{{valoration.paciente.fechaNacimiento}}" style="width: min-content;" disabled>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2">Edad:</label>
                        <input type="text" class="form-control border-0 bg-transparent"
                        value="{{valoration.paciente.edad}}" style="width: min-content;" disabled>
                    </div>                        
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Sexo:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="masculino" value="Masculino"
                                disabled {{#ifCond valoration.paciente.sexo '===' 'Masculino' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="masculino">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino"
                                disabled {{#ifCond valoration.paciente.sexo '===' 'Femenino' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="femenino">
                                Femenino
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Estado Civil:</label>
                        <input type="text" name="estadoCivil" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.estadoCivil}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Domicilio Actual:</label>
                        <input type="text" name="domicilioActual" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.domicilioActual}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Cobertura de Salud:</label>
                        <input type="text" name="coberturaSalud" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.coberturaSalud}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Nacionalidad:</label>
                        <input type="text" name="nacionalidad" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.nacionalidad}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Procedencia:</label>
                        <input type="text" name="procedencia" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.paciente.procedencia}}" disabled>
                    </div>   
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header"> II- Datos de Ingreso a Internación</div>
                <div class="card-body">
                    <!-- Campos de Internación -->
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Motivo de Ingreso:</label>
                        <input type="text" name="motivoIngreso" class="form-control border-1 bg-transparent" placeholder="-"
                            value="{{valoration.ingreso.motivoIngreso}}" disabled>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2">Servicio:</label>
                        <select id="servicio" name="servicio" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            <option value="">Selecciona un servicio</option> <!-- Opción vacía -->
                            {{#each services}}
                                <option value="{{this._id}}" {{#ifCondStr this._id '===' ../valoration.ingreso.cama.servicio._id}}selected{{/ifCondStr}}>
                                    {{this.nombre}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2">Número de Cama:</label>
                        <select id="bedSelect" name="numeroCama" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            {{#each beds}}
                                <option value="{{this._id}}" {{#ifCondStr this._id '===' ../valoration.ingreso.cama._id}}selected{{/ifCondStr}}>
                                    {{this.numeroCama}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                    <!-- Otros campos -->
                    <div class="form-group d-flex align-items-center">
                        <span style="margin-right: 10px;">Fecha y hora de Ingreso: {{dateIngreso}}</span> Hora: {{timeIngreso}}                        
                    </div>                                       
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Tipo de Ingreso:</label>
                        <div class="form-check">
                            <input class="form-check-input border-1 bg-transparent" type="radio" name="tipoIngreso" id="programado"
                                value="Programado" disabled {{#ifCond valoration.ingreso.tipoIngreso '===' 'Programado' }}checked{{/ifCond}}>
                            <label class="form-check-label border-1 bg-transparent" for="programado">
                                Programado
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input border-1 bg-transparent" type="radio" name="tipoIngreso" id="urgencia"
                                value="Urgencia" disabled {{#ifCond valoration.ingreso.tipoIngreso '===' 'Urgencia' }}checked{{/ifCond}}>
                            <label class="form-check-label border-1 bg-transparent" for="urgencia">
                                Urgencia
                            </label>
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">III- Diagnóstico médico o Hipótesis diágnostica</div>
                <div class="card-body">
                    <!-- Campos de Datos de Diagnóstico médico o Hipótesis diágnostica -->
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Diagnóstico:</label>
                        <input type="text" name="diagnostico" class="form-control border-1 bg-transparent" placeholder="-"
                            value="{{valoration.diagnostico}}" disabled>
                    </div>   
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">IV- Otros problemas de salud</div>
                <div class="card-body">
                    <!-- Campos de Datos de Otros problemas de salud -->
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Antecedentes patológicos más relevantes: </label>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteAlergias"
                                id="antecedenteAlergias" value="true" disabled {{#if valoration.otrosProblemas.antecedenteAlergias}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteAlergias">
                                Alergias
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteDbt"
                                id="antecedenteDbt" value="true" disabled {{#if valoration.otrosProblemas.antecedenteDbt}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteDbt">
                                DBT
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteHta"
                                id="antecedenteHta" value="true" disabled {{#if valoration.otrosProblemas.antecedenteHta}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteHta">
                                HTA
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteObesidad"
                                id="antecedenteObesidad" value="true" disabled {{#if valoration.otrosProblemas.antecedenteObesidad}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteObesidad">
                                Obesidad
                            </label>
                        </div>
                    </div>  
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteChagas"
                                id="antecedenteChagas" value="true" disabled {{#if valoration.otrosProblemas.antecedenteChagas}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteChagas">
                                Chagas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteIrregularidadCicloMenstrual"
                                id="antecedenteIrregularidadCicloMenstrual" value="true" disabled {{#if valoration.otrosProblemas.antecedenteIrregularidadCicloMenstrual}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteIrregularidadCicloMenstrual">
                                Irregularidad Ciclo Menstrual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="antecedenteAsma"
                                id="asma" value="true" disabled {{#if valoration.otrosProblemas.antecedenteAsma}}checked{{/if}}>
                            <label class="form-check-label" for="antecedenteAsma">
                                Asma
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">V- Indicaciones médicas y plan terapéutico</div>
                <div class="card-body">
                    <!-- Campos de Datos de Indicaciones médicas y plan terapéutico -->
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Descripción:</label>
                        <input type="text" name="descripcion" class="form-control border-1 bg-transparent" placeholder="-"
                            value="{{valoration.indicaciones.descripcion}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Exám. Complem.:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="examenesComplementarios" id="si" value="Si"
                                disabled {{#ifCond valoration.indicaciones.examenesComplementarios '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="si">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="examenesComplementarios" id="no" value="No"
                                disabled {{#ifCond valoration.indicaciones.examenesComplementarios '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2" style="white-space: nowrap;">Otros:</label>
                        <input type="text" name="otros" class="form-control border-1 bg-transparent" placeholder="-"
                            value="{{valoration.indicaciones.otros}}" disabled>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">VI- Situación actual</div>
                <div class="card-body">
                    <!-- Campos de Datos de Situación actual -->                  
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Tipo de Evaluación:</label>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="observacionGeneral"
                                id="observacionGeneral" value="true" disabled {{#if valoration.situacionActual.observacionGeneral}}checked{{/if}}>
                            <label class="form-check-label" for="observacionGeneral">
                                Observación General
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="entrevista" id="entrevista"
                                value="true" disabled {{#if valoration.situacionActual.entrevista}}checked{{/if}}>
                            <label class="form-check-label" for="entrevista">
                                Entrevista
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <!-- <label class="mb-0 mr-2">Exámen Físico:</label> -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="examenInspeccion"
                                id="examenInspeccion" value="true" disabled {{#if valoration.situacionActual.examenInspeccion}}checked{{/if}}>
                            <label class="form-check-label" for="examenInspeccion">
                                Exám. Fco. Inspección
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="examenAuscultacion" id="examenAuscultacion"
                                value="true" disabled {{#if valoration.situacionActual.examenAuscultacion}}checked{{/if}}>
                            <label class="form-check-label" for="examenAuscultacion">
                                Exám. Fco. Auscultación
                            </label>
                        </div>
                    </div>                   
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="examenPalpacion"
                                id="examenPalpacion" value="true" disabled {{#if valoration.situacionActual.examenPalpacion}}checked{{/if}}>
                            <label class="form-check-label" for="examenPalpacion">
                                Exám. Fco. Palpación
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="examenPercusion" id="examenPercusion"
                                value="true" disabled {{#if valoration.situacionActual.examenPercusion}}checked{{/if}}>
                            <label class="form-check-label" for="examenPercusion">
                                Exám. Fco. Percusión
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">1- Datos de oxigenación (Cardio-respiratorio)</div>
                <div class="card-body">
                    <!-- Campos de Datos de Datos de oxigenación (Cardio-respiratorio) -->
                    <div class="card mb-3">
                        <div class="card-header">Respiración</div>
                        <div class="card-body">
                            <!-- Campos de Datos de Respiración -->
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Frecuencia Respiratoria:</label>
                                <input type="text" name="frecuenciaRespiratoria" class="form-control border-1 bg-transparent w-auto"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.frecuenciaRespiratoria}}" style="width: min-content;" disabled><span>r.p.m.</span>
                            </div>
                            <div class="form-group  d-flex align-items-center">
                                <label class="mb-0 mr-2">Ritmo:</label>
                                <select name="ritmoRespiratorio" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                                    <!-- Las opciones de cama se llenarán dinámicamente con JavaScript -->
                                    {{#if valoration.oxigenacion.respiracion.ritmoRespiratorio}}
                                        <option value="{{valoration.oxigenacion.respiracion.ritmoRespiratorio}}" selected>
                                            {{valoration.oxigenacion.respiracion.ritmoRespiratorio}}
                                        </option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Profundidad:</label>
                                <select name="profundidad" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                                    {{#if valoration.oxigenacion.respiracion.profundidad}}
                                        <option value="{{valoration.oxigenacion.respiracion.profundidad}}" selected>
                                            {{valoration.oxigenacion.respiracion.profundidad}}
                                        </option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Simetría:</label>
                                <select name="simetria" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                                    {{#if valoration.oxigenacion.respiracion.simetria}}
                                        <option value="{{valoration.oxigenacion.respiracion.simetria}}" selected>
                                            {{valoration.oxigenacion.respiracion.simetria}}
                                        </option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Via Aérea Permeable:</label>
                                <input type="text" name="viaAerPerm" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.viaAerPerm}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Secreciones:</label>
                                <input type="text" name="secreciones" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.secreciones}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Color:</label>
                                <input type="text" name="color" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.color}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Tos:</label>
                                <input type="text" name="tos" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.tos}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Expectoración:</label>
                                <input type="text" name="expectoracion" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.expectoracion}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Hipoventilación:</label>
                                <input type="text" name="hipoventilacion" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.hipoventilacion}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Disnea:</label>
                                <input type="text" name="disnea" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.respiracion.disnea}}" disabled>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-left">
                                <label class="mb-0 mr-2">Auscultación:</label>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="auscMurmulloVesicular" id="auscMurmulloVesicular" value="true" disabled {{#if valoration.oxigenacion.respiracion.auscMurmulloVesicular}}checked{{/if}}>
                                    <label class="form-check-label" for="auscMurmulloVesicular">
                                        Murmullo Vesicular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="auscSibilancias" id="auscSibilancias" value="true" disabled {{#if valoration.oxigenacion.respiracion.auscSibilancias}}checked{{/if}}>
                                    <label class="form-check-label" for="auscSibilancias">
                                        Sibilancias
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-center">                           
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="auscCrepitantes" id="auscCrepitantes" value="true" disabled {{#if valoration.oxigenacion.respiracion.auscCrepitantes}}checked{{/if}}>
                                    <label class="form-check-label" for="auscCrepitantes">
                                        Crepitantes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="auscRoncus" id="auscRoncus" value="true" disabled {{#if valoration.oxigenacion.respiracion.auscRoncus}}checked{{/if}}>
                                    <label class="form-check-label" for="auscRoncus">
                                        Roncus
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="auscGorgoteos" id="auscGorgoteos" value="true" disabled {{#if valoration.oxigenacion.respiracion.auscGorgoteos}}checked{{/if}}>
                                    <label class="form-check-label" for="auscGorgoteos">
                                        Gorgoteos
                                    </label>
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">Circulación</div>
                        <div class="card-body">
                            <!-- Campos de Datos de Circulación -->
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Frecuencia Cardiaca:</label>
                                <input type="text" name="frecuenciaCardiaca" class="form-control border-1 bg-transparent w-auto"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.frecuenciaCardiaca}}" style="width: min-content;" disabled><span>l.p.m.</span>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Ritmo Circulación:</label>
                                <select name="ritmoCirculacion" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                                    {{#if valoration.oxigenacion.circulacion.ritmoCirculacion}}
                                        <option value="{{valoration.oxigenacion.circulacion.ritmoCirculacion}}" selected>
                                            {{valoration.oxigenacion.circulacion.ritmoCirculacion}}
                                        </option>
                                    {{/if}}
                                </select>
                            </div>      
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Intensidad:</label>
                                <select name="intensidad" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                                    {{#if valoration.oxigenacion.circulacion.intensidad}}
                                        <option value="{{valoration.oxigenacion.circulacion.intensidad}}" selected>
                                            {{valoration.oxigenacion.circulacion.intensidad}}
                                        </option>
                                    {{/if}}
                                </select>
                            </div>  
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Tensión:</label>
                                <input type="text" name="tension" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.tension}}" style="width: min-content;" disabled>
                            </div>  
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Amplitud:</label>
                                <select name="amplitud" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                                    {{#if valoration.oxigenacion.circulacion.amplitud}}
                                        <option value="{{valoration.oxigenacion.circulacion.amplitud}}" selected>
                                            {{valoration.oxigenacion.circulacion.amplitud}}
                                        </option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Pulsos Periféricos:</label>
                                <input type="text" name="pulsosPerifericos" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.pulsosPerifericos}}" disabled>
                            </div>   
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Ruidos Cardíacos:</label>
                                <input type="text" name="ruidosCardiacos" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.ruidosCardiacos}}" disabled>
                            </div>       
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Latido de Punta:</label>
                                <input type="text" name="latidoDePunta" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.latidoDePunta}}" disabled>
                            </div>     
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Tensión Arterial:</label>
                                <input type="text" name="tensionArterial" class="form-control border-1 bg-transparent w-auto"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.tensionArterial}}" disabled><span>mm Hg</span>
                            </div>    
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Ingurgitación Yugular:</label>
                                <input type="text" name="ingurgitacionYugular" class="form-control border-1 bg-transparent"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.ingurgitacionYugular}}" disabled>
                            </div>             
                            <div class="form-group d-flex align-items-center justify-content-left">
                            <label class="mb-0 mr-2">Coloración de piel y muc.:</label>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="coloracionPielYMucRosada" id="coloracionPielYMucRosada" value="true" disabled {{#if valoration.oxigenacion.circulacion.coloracionPielYMucRosada}}checked{{/if}}>
                                    <label class="form-check-label" for="coloracionPielYMucRosada">
                                        Rosada
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="coloracionPielYMucPalida" id="coloracionPielYMucPalida" value="true" disabled {{#if valoration.oxigenacion.circulacion.coloracionPielYMucPalida}}checked{{/if}}>
                                    <label class="form-check-label" for="coloracionPielYMucPalida">
                                        Pálida
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="coloracionPielYMucCianosis" id="coloracionPielYMucCianosis" value="true" disabled {{#if valoration.oxigenacion.circulacion.coloracionPielYMucCianosis}}checked{{/if}}>
                                    <label class="form-check-label" for="coloracionPielYMucCianosis">
                                        Cianosis
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="coloracionPielYMucLivideces" id="coloracionPielYMucLivideces" value="true" disabled {{#if valoration.oxigenacion.circulacion.coloracionPielYMucLivideces}}checked{{/if}}>
                                    <label class="form-check-label" for="coloracionPielYMucLivideces">
                                        Livideces
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="coloracionPielYMucIctericia" id="coloracionPielYMucIctericia" value="true" disabled {{#if valoration.oxigenacion.circulacion.coloracionPielYMucIctericia}}checked{{/if}}>
                                    <label class="form-check-label" for="coloracionPielYMucIctericia">
                                        Ictericia
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="coloracionPielYMucOtra" id="coloracionPielYMucOtra" value="true" disabled {{#if valoration.oxigenacion.circulacion.coloracionPielYMucOtra}}checked{{/if}}>
                                    <label class="form-check-label" for="coloracionPielYMucOtra">
                                        Otra
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Temperatura Axilar:</label>
                                <input type="text" name="temperaturaAxilar" class="form-control border-1 bg-transparent w-auto"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.temperaturaAxilar}}" style="width: min-content;" disabled><span>°C</span>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Temperatura Rectal:</label>
                                <input type="text" name="temperaturaRectal" class="form-control border-1 bg-transparent w-auto"
                                    placeholder="-"
                                    value="{{valoration.oxigenacion.circulacion.temperaturaRectal}}" style="width: min-content;" disabled><span>°C</span>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="mb-0 mr-2">Edemas:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="edemas" id="edemasSi" value="Si"
                                        disabled {{#ifCond valoration.oxigenacion.circulacion.edemas '===' 'Si' }}checked{{/ifCond}}>
                                    <label class="form-check-label" for="edemasSi">
                                        Si
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="edemas" id="edemasNo" value="No"
                                        disabled {{#ifCond valoration.oxigenacion.circulacion.edemas '===' 'No' }}checked{{/ifCond}}>
                                    <label class="form-check-label" for="edemasNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2- Datos de sensopercepción y actividad -->           
            <div class="card mb-3">
                <div class="card-header">2- Datos de sensopercepción y actividad</div>
                <div class="card-body">
                    <!-- Campos de Datos de 2- Datos de sensopercepción y actividad -->
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Nivel de conciencia:</label>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="nivelConcienciaLucido"
                                id="nivelConcienciaLucido" value="true" disabled {{#if valoration.sensopercepcion.nivelConcienciaLucido}}checked{{/if}}>
                            <label class="form-check-label" for="nivelConcienciaLucido">
                                Lúcido
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="nivelConcienciaConfuso" id="nivelConcienciaConfuso"
                                value="true" disabled {{#if valoration.sensopercepcion.nivelConcienciaConfuso}}checked{{/if}}>
                            <label class="form-check-label" for="nivelConcienciaConfuso">
                                Confuso
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="nivelConcienciaDelirante"
                                id="nivelConcienciaDelirante" value="true" disabled {{#if valoration.sensopercepcion.nivelConcienciaDelirante}}checked{{/if}}>
                            <label class="form-check-label" for="nivelConcienciaDelirante">
                                Delirante
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="nivelConcienciaEstuporoso"
                                id="nivelConcienciaEstuporoso" value="true" disabled {{#if valoration.sensopercepcion.nivelConcienciaEstuporoso}}checked{{/if}}>
                            <label class="form-check-label" for="nivelConcienciaEstuporoso">
                                Estuporoso
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="nivelConcienciaComa"
                                id="nivelConcienciaComa" value="true" disabled {{#if valoration.sensopercepcion.nivelConcienciaComa}}checked{{/if}}>
                            <label class="form-check-label" for="nivelConcienciaComa">
                                Coma
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Escala de Coma de GLASGOW Puntaje Total: </label>
                        <span id="totalSuma"> {{totalGlasgow}} </span>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2">Apertura Ocular:</label>
                        <select name="aperturaOcular" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            {{#if valoration.sensopercepcion.aperturaOcular}}
                                <option value="{{valoration.sensopercepcion.aperturaOcular}}" selected>
                                    {{valoration.sensopercepcion.aperturaOcular}}
                                </option>
                            {{/if}}
                        </select>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2">Respuesta Motora:</label>
                        <select name="respuestaMotora" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            {{#if valoration.sensopercepcion.respuestaMotora}}
                                <option value="{{valoration.sensopercepcion.respuestaMotora}}" selected>
                                    {{valoration.sensopercepcion.respuestaMotora}}
                                </option>
                            {{/if}}
                        </select>
                    </div>
                    <div class="form-group  d-flex align-items-center">
                        <label class="mb-0 mr-2">Respuesta Verbal:</label>
                        <select name="respuestaVerbal" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            {{#if valoration.sensopercepcion.respuestaVerbal}}
                                <option value="{{valoration.sensopercepcion.respuestaVerbal}}" selected>
                                    {{valoration.sensopercepcion.respuestaVerbal}}
                                </option>
                            {{/if}}
                        </select>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Tamaño de Pupilas:</label>
                        <input type="text" name="tamanioPupilas" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.tamanioPupilas}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Simetría de Pupilas:</label>
                        <select name="simetriaPupilas" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            {{#if valoration.sensopercepcion.simetriaPupilas}}
                                <option value="{{valoration.sensopercepcion.simetriaPupilas}}" selected>
                                    {{valoration.sensopercepcion.simetriaPupilas}}
                                </option>
                            {{/if}}
                        </select>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Reactividad:</label>
                        <input type="text" name="reactividad" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.reactividad}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Babinsky:</label>
                        <input type="text" name="babinsky" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.babinsky}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Otros Pupilas:</label>
                        <input type="text" name="otrosPupilas" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.otrosPupilas}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Afasias:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="afasias" id="afasiasSi" value="Si"
                                disabled {{#ifCond valoration.sensopercepcion.afasias '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="afasiasSi">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="afasias" id="afasiasNo" value="No"
                                disabled {{#ifCond valoration.sensopercepcion.afasias '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="afasiasNo">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Dolor:</label>
                        <input type="text" name="dolorSensopercepcion" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.dolorSensopercepcion}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Características del Dolor:</label>
                        <input type="text" name="caracteristicasDolor" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.caracteristicasDolor}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Localización del Dolor:</label>
                        <input type="text" name="localizacionDolor" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.sensopercepcion.localizacionDolor}}" disabled>
                    </div>                                      
                </div>
            </div>
            <!-- 3- Datos Nutricionales (Alimentos líquidos y electrolitos) -->
             <div class="card mb-3">
                <div class="card-header">3- Datos Nutricionales (Alimentos liquidos y electrolitos)</div>
                <div class="card-body">
                    <!--Campos de Datos Nutricionales (Alimentos liquidos y electrolitos) -->
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Peso:</label>
                        <input type="text" name="peso" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.nutricion.peso}}" disabled><span>kg.</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Talla:</label>
                        <input type="text" name="talla" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.nutricion.talla}}" disabled><span>cm.</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Obesidad:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="obesidad" id="obesidadSi" value="Si"
                                disabled {{#ifCond valoration.nutricion.obesidad '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="obesidadSi">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="obesidad" id="obesidadNo" value="No"
                                disabled {{#ifCond valoration.nutricion.obesidad '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="obesidadNo">
                                No
                            </label>
                        </div>
                    </div>                    
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Hidratación:</label>
                        <input type="text" name="hidratacion" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.nutricion.hidratacion}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Signo del Pliegue:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="signoPliegue" id="signoPlieguePositivo" value="Positivo"
                                disabled {{#ifCond valoration.nutricion.signoPliegue '===' 'Positivo' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="signoPlieguePositivo">
                                Positivo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="signoPliegue" id="signoPliegueNegativo" value="Negativo"
                                disabled {{#ifCond valoration.nutricion.signoPliegue '===' 'Negativo' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="signoPliegueNegativo">
                                Negativo
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Autonomía para Alimentarse:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autonomiaParaAlimentarse" id="autonomiaParaAlimentarseTotal" value="Total"
                                disabled {{#ifCond valoration.nutricion.autonomiaParaAlimentarse '===' 'Total' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="autonomiaParaAlimentarseTotal">
                                Total
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autonomiaParaAlimentarse" id="autonomiaParaAlimentarseParcial" value="Parcial"
                                disabled {{#ifCond valoration.nutricion.autonomiaParaAlimentarse '===' 'Parcial' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="autonomiaParaAlimentarseParcial">
                                Parcial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="autonomiaParaAlimentarse" id="autonomiaParaAlimentarseNinguna" value="Ninguna"
                                disabled {{#ifCond valoration.nutricion.autonomiaParaAlimentarse '===' 'Ninguna' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="autonomiaParaAlimentarseNinguna">
                                Ninguna
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Alimentación:</label>
                    </div>                    
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="alimentacionEnteralOral" id="alimentacionEnteralOral" value="true" disabled {{#if valoration.nutricion.alimentacionEnteralOral}}checked{{/if}}>
                            <label class="form-check-label" for="alimentacionEnteralOral">
                                Enteral Oral
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="alimentacionEnteralSNG" id="alimentacionEnteralSNG" value="true" disabled {{#if valoration.nutricion.alimentacionEnteralSNG}}checked{{/if}}>
                            <label class="form-check-label" for="alimentacionEnteralSNG">
                                Enteral SNG
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Ingresos Vía Oral:</label>
                        <input type="text" name="ingresosViaOral" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.nutricion.ingresosViaOral}}" disabled><span>ml.</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Ingresos Vía Parenteral:</label>
                        <input type="text" name="ingresosViaParenteral" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.nutricion.ingresosViaParenteral}}" disabled><span>ml.</span>
                    </div>
                </div>
            </div>
            <!-- 4- Datos de Eliminación -->
            <div class="card mb-3">
                <div class="card-header">4- Datos de Eliminación</div>
                <div class="card-body">
                    <!-- Campos de Datos de Eliminación -->
                     <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Ruidos Hidroaéreos:</label>
                        <input type="text" name="ruidosHidroaereos" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.eliminacion.ruidosHidroaereos}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Distensión Abdominal:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="distencionAbdominal" id="distencionAbdominalSi" value="Si"
                                disabled {{#ifCond valoration.eliminacion.distencionAbdominal '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="distencionAbdominalSi">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="distencionAbdominal" id="distencionAbdominalNo" value="No"
                                disabled {{#ifCond valoration.eliminacion.distencionAbdominal '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="distencionAbdominalNo">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Color de Deposiciones:</label>
                        <input type="text" name="colorDeposiciones" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.eliminacion.colorDeposiciones}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Consistencia de Deposiciones:</label>
                        <input type="text" name="consistenciaDeposiciones" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.eliminacion.consistenciaDeposiciones}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Otras Características de Deposiciones:</label>
                        <input type="text" name="otrasCaracteristicasDeposiciones" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.eliminacion.otrasCaracteristicasDeposiciones}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Sudoración:</label>
                        <input type="text" name="sudoracion" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.eliminacion.sudoracion}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Total Egresos Sudoración:</label>
                        <input type="text" name="totalEgresosSudoracion" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.eliminacion.totalEgresosSudoracion}}" disabled><span>ml.</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Pérdida Insensible Sudoración:</label>
                        <input type="text" name="perdidaInsensibleSudoracion" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.eliminacion.perdidaInsensibleSudoracion}}" disabled><span>ml.</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Total Ingresos Balance Hídrico:</label>
                        <input type="text" name="totalIngresosBalanceHidrico" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.eliminacion.totalIngresosBalanceHidrico}}" disabled><span>ml.</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Total Egresos Balance Hídrico:</label>
                        <input type="text" name="totalEgresosBalanceHidrico" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.eliminacion.totalEgresosBalanceHidrico}}" disabled><span>ml.</span>
                    </div>
                </div>
            </div>
            <!-- 5- Datos de Aseo y valoración de piel -->
            <div class="card mb-3">
                <div class="card-header">5- Datos de Aseo y valoración de piel</div>
                <div class="card-body">
                    <!-- Campos de Datos de Aseo y valoración de piel -->
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Lesiones:</label>
                        <input type="text" name="lesiones" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.aseoYPiel.lesiones}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Localización de Lesiones:</label>
                        <input type="text" name="localizacionLesiones" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.aseoYPiel.localizacionLesiones}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Cicatrices:</label>
                        <input type="text" name="cicatrices" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.aseoYPiel.cicatrices}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Localización de Cicatrices:</label>
                        <input type="text" name="localizacionCicatrices" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.aseoYPiel.localizacionCicatrices}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Dispone de:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="mudaDeRopa" id="mudaDeRopa" value="true" disabled {{#if valoration.aseoYPiel.mudaDeRopa}}checked{{/if}}>
                            <label class="form-check-label" for="mudaDeRopa">
                                Muda de Ropa
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="elementosDeHigiene" id="elementosDeHigiene" value="true" disabled {{#if valoration.aseoYPiel.elementosDeHigiene}}checked{{/if}}>
                            <label class="form-check-label" for="elementosDeHigiene">
                                Elementos de Higiene
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Puede realizar higiene por sí mismo:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="higienePorSiMismo" id="higienePorSiMismoSi" value="Si"
                                disabled {{#ifCond valoration.aseoYPiel.higienePorSiMismo '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="higienePorSiMismoSi">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="higienePorSiMismo" id="higienePorSiMismoNo" value="No"
                                disabled {{#ifCond valoration.aseoYPiel.higienePorSiMismo '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="higienePorSiMismoNo">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 6- Datos de reposo y sueño -->
            <div class="card mb-3">
                <div class="card-header">6- Datos de reposo y sueño</div>
                <div class="card-body">
                    <!-- Campos de Datos de reposo y sueño -->
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Posición en Cama:</label>
                        <input type="text" name="posicionEnCama" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.reposoYSuenio.posicionEnCama}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Hábitos de Descanso Nocturno:</label>
                        <input type="text" name="habitosDescansoNocturno" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.reposoYSuenio.habitosDescansoNocturno}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Horas:</label>
                        <input type="text" name="horas" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.reposoYSuenio.horas}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Alteración Sueño:</label>
                        <input type="text" name="alteracionSuenio" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.reposoYSuenio.alteracionSuenio}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Sedantes:</label>
                        <input type="text" name="sedantes" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.reposoYSuenio.sedantes}}" disabled>
                    </div>
                </div>
            </div>
            <!-- 7- Datos psicosociales -->
            <div class="card mb-3">
                <div class="card-header">7- Datos psicosociales</div>
                <div class="card-body">
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Estado de paciente:</label>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoMiedo" id="estadoMiedo" value="true" disabled {{#if valoration.psicosocial.estadoMiedo}}checked{{/if}}>
                            <label class="form-check-label" for="estadoMiedo">
                                Miedo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoNegativismo" id="estadoNegativismo" value="true" disabled {{#if valoration.psicosocial.estadoNegativismo}}checked{{/if}}>
                            <label class="form-check-label" for="estadoNegativismo">
                                Negativismo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoInquietud" id="estadoInquietud" value="true" disabled {{#if valoration.psicosocial.estadoInquietud}}checked{{/if}}>
                            <label class="form-check-label" for="estadoInquietud">
                                Inquietud
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoDepresion" id="estadoDepresion" value="true" disabled {{#if valoration.psicosocial.estadoDepresion}}checked{{/if}}>
                            <label class="form-check-label" for="estadoDepresion">
                                Depresión
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoApatia" id="estadoApatia" value="true" disabled {{#if valoration.psicosocial.estadoApatia}}checked{{/if}}>
                            <label class="form-check-label" for="estadoApatia">
                                Apatía
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoAnsiedad" id="estadoAnsiedad" value="true" disabled {{#if valoration.psicosocial.estadoAnsiedad}}checked{{/if}}>
                            <label class="form-check-label" for="estadoAnsiedad">
                                Ansiedad
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoAgresividad" id="estadoAgresividad" value="true" disabled {{#if valoration.psicosocial.estadoAgresividad}}checked{{/if}}>
                            <label class="form-check-label" for="estadoAgresividad">
                                Agresividad
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="estadoLlanto" id="estadoLlanto" value="true" disabled {{#if valoration.psicosocial.estadoLlanto}}checked{{/if}}>
                            <label class="form-check-label" for="estadoLlanto">
                                Llanto
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Creencias Religión:</label>
                        <input type="text" name="creenciasReligion" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.psicosocial.creenciasReligion}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">¿Trabaja actualmente?:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trabajaActualmente" id="trabajaActualmenteSi" value="Si"
                                disabled {{#ifCond valoration.psicosocial.trabajaActualmente '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="trabajaActualmenteSi">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="trabajaActualmente" id="trabajaActualmenteNo" value="No"
                                disabled {{#ifCond valoration.psicosocial.trabajaActualmente '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="trabajaActualmenteNo">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Ocupación:</label>
                        <input type="text" name="ocupacion" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.psicosocial.ocupacion}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">¿Desde cuándo trabaja?:</label>
                        <input type="text" name="desdeCuandoTrabaja" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.psicosocial.desdeCuandoTrabaja}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">¿Cómo se siente en el trabajo?:</label>
                        <input type="text" name="sentimientoEnTrabajo" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.psicosocial.sentimientoEnTrabajo}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Escolaridad:</label>
                        <select name="escolaridad" class="form-control border-1 bg-transparent" style="width: min-content;" disabled>
                            {{#if valoration.psicosocial.escolaridad}}
                                <option value="{{valoration.psicosocial.escolaridad}}" selected>
                                    {{valoration.psicosocial.escolaridad}}
                                </option>
                            {{/if}}
                        </select>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-left">
                        <label class="mb-0 mr-2">Aprendizaje:</label>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="aprendizajeDeseaAprender" id="aprendizajeDeseaAprender" value="true" disabled {{#if valoration.psicosocial.aprendizajeDeseaAprender}}checked{{/if}}>
                            <label class="form-check-label" for="aprendizajeDeseaAprender">
                                Desea Aprender
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="aprendizajeNegacionAlTratamiento" id="aprendizajeNegacionAlTratamiento" value="true" disabled {{#if valoration.psicosocial.aprendizajeNegacionAlTratamiento}}checked{{/if}}>
                            <label class="form-check-label" for="aprendizajeNegacionAlTratamiento">
                                Negación al Tratamiento
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="aprendizajeAceptacionAlTratamiento" id="aprendizajeAceptacionAlTratamiento" value="true" disabled {{#if valoration.psicosocial.aprendizajeAceptacionAlTratamiento}}checked{{/if}}>
                            <label class="form-check-label" for="aprendizajeAceptacionAlTratamiento">
                                Aceptación al Tratamiento
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 8- Factores de riesgo -->
            <div class="card mb-3">
                <div class="card-header">8- Factores de riesgo</div>
                <div class="card-body">
                    <!-- Campos de Datos de Factores de riesgo -->
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Tabaquismo:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tabaquismo" id="tabaquismoSi" value="Si"
                                disabled {{#ifCond valoration.riesgo.tabaquismo '===' 'Si' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="tabaquismoSi">
                                Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tabaquismo" id="tabaquismoNo" value="No"
                                disabled {{#ifCond valoration.riesgo.tabaquismo '===' 'No' }}checked{{/ifCond}}>
                            <label class="form-check-label" for="tabaquismoNo">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Tabaquismo Cuántos:</label>
                        <input type="text" name="tabaquismoCuantos" class="form-control border-1 bg-transparent w-auto"
                            placeholder="-"
                            value="{{valoration.riesgo.tabaquismoCuantos}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Consumo de Alcohol:</label>
                        <input type="text" name="consumoAlcohol" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.riesgo.consumoAlcohol}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Enfermedades Preexistentes:</label>
                        <input type="text" name="enfermedadesPreexistentes" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.riesgo.enfermedadesPreexistentes}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Motivo Fallecimiento Padres:</label>
                        <input type="text" name="motivoFallecimientoPadres" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.riesgo.motivoFallecimientoPadres}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Motivo Fallecimiento Hermanos:</label>
                        <input type="text" name="motivoFallecimientoHermanos" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.riesgo.motivoFallecimientoHermanos}}" disabled>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label class="mb-0 mr-2">Motivo Fallecimiento Abuelos:</label>
                        <input type="text" name="motivoFallecimientoAbuelos" class="form-control border-1 bg-transparent"
                            placeholder="-"
                            value="{{valoration.riesgo.motivoFallecimientoAbuelos}}" disabled>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Responsable de Valoración</div>
                <div class="card-body">
                    <!-- Campos de Datos de Responsable de Valoración -->
                    <p>Profesional: {{valoration.apellidoCargador}}, {{valoration.nombreCargador}}</p>
                    <p>Matrícula: {{valoration.matriculaCargador}}</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Responsable de Alta</div>
                <div class="card-body">
                    <!-- Campos de Datos de Responsable de Valoración -->
                    {{#if valoration.ingreso.apellidoResponsableAltaPaciente}}
                        <p>Profesional: {{valoration.ingreso.apellidoResponsableAltaPaciente}}, {{valoration.ingreso.nombreResponsableAltaPaciente}}</p>
                        <p>Matrícula: {{valoration.ingreso.matriculaResponsableAltaPaciente}}</p>
                        <span style="margin-right: 25px;">Fecha de Alta: {{valoration.dateAltaPaciente}}</span>
                            Hora de Alta: {{valoration.timeAltaPaciente}}
                    {{else}}
                        <p>Profesional: -</p>
                        <p>Matrícula: -</p>
                        <p class="text-center">
                            <span style="margin-right: 25px;">Fecha de Alta: -</span>
                            Hora de Alta: -
                        </p>
                    {{/if}}                    
                </div>
            </div>
        </div>
    </card>
</div>